@import 'tailwindcss';

@theme {
	--font-sans:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--color-primary: #272724;
	--color-ring: #2563eb;
	--color-background: #ffffff;
	--color-foreground: #16404d;
	--color-card: #f8f9fa;
	--color-accent: #dde2e5;
	--color-input: #dde2e5;
	--color-border: #dde2e5;
}

html,
body {
}
